{% extends "mainPage.html" %}

{% block content %}
<br>
<div class="row">

    {% if staffs %}
        {% for staff in staffs %}
        <p></p>
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="card">
                    <img src="{{staff.profile_pic.url}}" class="card-img-top" alt="staff image" height="300">
                    <div class="card-body">
                        <hr>
                        <p class="card-text">Name: {{staff.first_name}} {{staff.last_name}}</p>
                        <p>Phone: {{staff.phone}}</p>
                        <p>Email: {{staff.email}}</p>
                        <p>Total client(s): {{staff.total}}</p>
                    </div>
                </div>
            </div>
            <p></p>
        {% endfor %}
    {% endif %}

</div>

<style>
    p {
        padding:2px;
    }
</style>
{% endblock content %}