{% extends 'base.html' %}


{% block content %}

<div class="row">
    <div class="col col-md-4">
        <div class="card card-body">
            <h3>Property Order</h3>
            <form method="POST" action=""class='thisform'>
                {% csrf_token %}
                {{form.as_p}}

                <label for="ordertime">Order (date and time):</label>
                <input type="datetime-local" id="ordertime" name="ordertime"><br>
                <br>

                <input type="submit" class="btn" value="Submit">
            </form>
    </div>
        </div>
    <div class="col">
        <div class="card card-body">
            <h3>Property details</h3>

            {% if order %}

                <p class="lead">Tenant has {{amount}} order(s)</p>

                {% for i in order %}
                    <p>
                    Name: {{i.tenant_property.name}}<br>
                    Amount paid: {{i.amount_paid}}<br>
                    Balance: {{i.balance}}
                    </p>
                    <a class='btn btn-md' href="{% url 'update_tenant_order' i.id %}">Update</a>
                {% endfor %}

            {% else %}
                <p>No order found</p>
            {% endif %}

        </div>
    </div>
    <div class="col">
        <div class="card card-body">
            <h3>Tenant details</h3>
            <p>{{tenant.order}} <br>Name: {{tenant.first_name}} {{tenant.last_name}}<br>
            Username: {{tenant.username}}<br> Email: {{tenant.email}}<br> Phone: {{tenant.phone}}</p>
            <a class='btn btn-md' href="{% url 'update_tenant' tenant.id %}">Update</a>
        </div>
    </div>
</div>


{% endblock content %}
