{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_order}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Clients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_client}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Properties</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_prop}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<style>

#total-orders {
    background-color: #5b1a73;
}

#orders-delivered {
    background-color: #5b1a73;
}

#orders-pending {
    background-color: #5b1a73;
}
</style>